@import url('https://fonts.googleapis.com/css?family=Bitter')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700&subset=latin-ext')

body
  background: #f5f5f5
  font-family: Source Sans Pro, sans-serif
  font-size: 1.125rem

h1, h2, h3, h4, h5, h6
  font-family: Bitter, serif

%link-style
  color: inherit
  text-decoration: none
  &:hover
    text-decoration: underline

#change-lang-btn
  float: right
  padding: 0.3em

  a
    @extend %link-style

.main
  max-width: 50rem
  margin: auto
  padding: 0 .7em
  word-wrap: break-word

  .content
    display: block
    width: 100%

  .header
    padding: 1rem 0
    .go-back-link
      margin-bottom: 1rem
      font-size: 1rem
    h1, h2, h3, h4, p
      margin: 0
      padding: 0
      .username
        font-style: normal
  .links h6
    display: inline
    padding: 0
    margin: 0 .5em

  a
    @extend %link-style
  .profile-pic
    margin: 0 auto
    width: 20rem
    height: 20rem
    img
      border-radius: .1em
      width: 100%

.social-links
  margin-top: 1.5rem
  padding: .5em
  font-size: 1.5rem
  text-align: center
  a
    padding: .5em .7em
    color: black

.center
  text-align: center
  height: 100vh
  display: flex
  align-items: center

.content
  color: rgba(0, 0, 0, 0.8)
  .project
    margin-bottom: 5rem
    h3 span.date
      font-size: 1rem
      font-weight: normal
    .project-images
      text-align: center
      img
        margin: 0 1rem 0 1rem
        max-width: 30rem

#homepage
  h1
    margin-bottom: 0
  .social-links
    margin:
      top: 0
      bottom: 1.5rem
    padding: .25em
