<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>matho -- blog</title>
</head>

<body>
  <div class="main">
    <div class="header">
      <p class="go-back-link"><a href="/">@mathocosta</a></p>
      <h2>Blog</h2>
    </div>

    <div class="posts">
      {{#each posts}}
      <div>
        {{ date }} <b><a href="./posts/{{filename}}.html">{{ title }} ({{language}})</a></b>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>
