<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>matho -- {{ title }}</title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <p class="go-back-link"><a href="/blog">< voltar para blog</a></p>
      <h1>{{ title }}</h1>
      <p><i>{{ date }}</i></p>
    </div>

    <div class="content">
      {{{ content }}}
    </div>
  </div>

  <script src="../bundle.js"></script>
</body>

</html>